# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Postgres Database url
DATABASE_URL="postgresql://postgres:password@localhost:5439/joia"

# A unique secret key used for DB encryption and for session management
# Must be generated with one of the following commands:
#   - yarn cloak:generate
#   - npx cloak generate
ENCRYPTION_KEY="SECRET_MASTER_KEY"

# Google OAuth keys, to enable login
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# SMTP email provider
SMTP_EMAIL_SERVER=smtp://username:password@smtp.exampledomain.com:port
SMTP_EMAIL_FROM=info@exampledomain.com

# OpenAI credentials
OPENAI_API_KEY=sk-mysecret_openai_key

# Optional OpenAI base url, in case you want to proxy calls through
# another provider like Cloudflare or Openrouter
OPTIONAL_OPENAI_BASE_URL=



NEXT_PUBLIC_ENV=development
NEXT_PUBLIC_HOSTNAME=http://localhost:3000
NEXT_PUBLIC_TRPC_DEBUG=false
NODE_ENV=development