services:
  postgres:
    container_name: llamaws_postgres
    image: postgres:15

    volumes:
      - llamaws_db:/var/lib/postgresql/data

    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: llamaws

  minio:
    image: bitnami/minio:latest
    container_name: minio
    environment:
      MINIO_ROOT_USER: miniouser
      MINIO_ROOT_PASSWORD: miniopassword
      MINIO_DEFAULT_BUCKETS: llamaws
      MINIO_API_PORT_NUMBER: 9000
      MINIO_CONSOLE_PORT_NUMBER: 9001
    ports:
      - 9000:9000
      - 9001:9001
    volumes:
      - llamaws_minio_data:/data

  adminer:
    container_name: llamaws_adminer
    image: adminer
    restart: always
    ports:
      - 8080:8080

  llamaq:
    container_name: llamaq_demo
    image: llamaworkspace/llamaq:latest
    environment:
      - NODE_ENV=production
      - REDIS_URL=redis://llamaq_redis_demo:6379
      - LLAMAQ_ACCESS_KEY=llamaq-access-key
      - EXTJS_PROCESSOR_URL=http://host.docker.internal:3000
      - NEXTJS_API_ACCESS_KEY=incoming-api-route-access-key
    ports:
      - 4000:4000
    depends_on:
      - redis

  redis:
    container_name: llamaq_redis_demo
    image: redis
    restart: always
    volumes:
      - llamaq_redis_data:/data


volumes:
  llamaws_db:
  llamaws_minio_data:
  llamaq_redis_data: