version: '3.8'

services:
  llamaworkspace:
    container_name: llamaws_demo
    image: llamaworkspace/llamaworkspace:latest
    ports:
      - 3000:3000
    env_file:
      - ./.env.demo
    environment:
      - NODE_ENV=production
    depends_on:
      - postgres

  postgres:
    container_name: llamaws_postgres_demo
    image: postgres:15
    volumes:
      - demo_llamaws_db:/var/lib/postgresql/data

    restart: always

    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: llamaws

  llamaq:
    container_name: llamaq_demo
    image: llamaq:local
    environment:
      - NODE_ENV=production
      - REDIS_URL=redis://llamaq_redis_demo:6379
      - LLAMAQ_ACCESS_KEY=llamaq-access-key
      - NEXTJS_PROCESSOR_URL=http://llamaws_demo:3000
      - NEXTJS_API_ACCESS_KEY=incoming-api-route-access-key
    ports:
      - 4000:4000
    depends_on:
      - redis

  redis:
    container_name: llamaq_redis_demo
    image: redis
    restart: always
    volumes:
      - demo_llamaq_redis_data:/data

volumes:
  demo_llamaws_db:
    name: demo_llamaws_db
  demo_llamaq_redis_data:
    name: demo_llamaq_redis_data
