@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
  #__next {
    @apply h-full;
  }
  html,
  body {
    @apply h-full;
  }


  /* Shows the placeholder in <Editable /> */
  [contenteditable]:empty:after {
    content: attr(placeholder);
  }
  
  mark.highlight {
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(
      to right,
      rgba(255, 225, 0, 0.1),
      rgba(255, 225, 0, 0.7) 4%,
      rgba(255, 225, 0, 0.3)
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }

}

  .EmojiPickerReact {
      --epr-emoji-fullsize: 32px !important; /* Adjust the size as needed */
      --epr-emoji-gap: 12px !important; /* Adjust the size as needed */
      --epr-category-label-font-size: 14px !important;

      &.epr-main {
        border: 0 !important;
      }
      
      .epr-emoji-category-label {
        font-size: var(--epr-category-label-font-size) !important;
      }
  }