name: Test suite

on:
  pull_request:
    paths:
      - "apps/llamaws/**"
  workflow_dispatch:

jobs:
  test:
    name: Test suite run
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:15
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        env:
          POSTGRES_DB: joia_test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password

    steps:
      - name: Enable corepack
        run: corepack enable
        working-directory: apps/llamaws

      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "npm"
          cache-dependency-path: "package-lock.json"

      - name: Install dependencies
        run: npm install --frozen-lockfile
        working-directory: apps/llamaws

      - name: Prepare test environment
        run: npm run test:prepare && cp .env.test .env
        working-directory: apps/llamaws

      - name: Run Jest tests
        run: npm run test:ci
        working-directory: apps/llamaws
